package enums
{{ $builtins := .Builtins -}}
{{ range $index, $element := .Types }}
//{{toTitle $index }} {{.Description }}
type {{ toTitle $index }} struct {
    {{- range .TypeData }}
    //{{ .Description}}
    {{ if eq .DataType "list" -}}
    {{ toTitle .Name }} [{{ .Params.Length }}]{{ or (index $builtins .Params.DataType) (toTitle .Params.DataType) }}
    {{- else -}}
    {{ toTitle .Name }} {{ or (index $builtins .DataType) (toTitle .DataType) }}
    {{- end -}}
    {{- end }}
}
{{ end }}